.currentUser {
        text-align: center;
        padding-left: 30%;
        font-weight: bold;
        color: #808D80;
}

a.titulo {
        display: inline-block;
        color: #808D80;
        text-shadow: 1px 2px #C8E6C9;
        order: 1;
        margin-top: 20px;
        font-size: 35px;
}
.titulo:hover {
        color: #48665a;
}

.titlename{
        position: fixed;
        width: 130px;
        margin-top: 2px;
}

h1 {
        width: inherit;
}

.onofftext {
        width: inherit;
        font-size: 50px;
        padding-left: 32%;
}