@media all and (min-width: 800px) {
        .currentUser {
                order: 2;
                text-align: center;
                margin-top: 36px;
                font-weight: bold;
                color: #19314e;
                font-family: Maven Pro;
        }
}
@media all and (max-width: 800px) {
        .currentUser {
                display:none;
        }
}

a.titulo {
        display: inline-block;
        color: #19314e;
        text-shadow: 1px 2px #C8E6C9;
        order: 1;
        margin-top: 20px;
        font-size: 35px;
}
.titulo:hover {
        color: #191737;
}

.titlename{
        position: fixed;
        width: 130px;
        margin-top: 2px;
}

h1 {
        width: inherit;
        display: flex;
        justify-content:space-between;
}

.onofftext {
        width: inherit;
        font-size: 50px;
        padding-left: 32%;
}

.choose {
        display: flex;
        flex-flow: column;
}

.plantImage {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border-top: #808D80;
        border-top-style: solid;
}

.title_box {
        flex-grow: 0.5;
        text-align: center;
        color: #808D80;
        font-family: Maven Pro;
}
.choose>h6 {
        color: #808D80;
        font-family: Maven Pro;
}

.tituloLogin {
        color: #19314e;
        text-shadow: 1px 2px #C8E6C9;
        margin-top: 20px;
        font-size: 35px;
        height: 20%;
        width: auto;
}