:root {
    --color-dark: #b7d2c3;
    --color-dark-x: #48665a;
    --color-dark-xx: #adc7b9;
    --color-light: #3f4e43;
    --color-grey: #adc7b9;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
    overflow: hidden;

}

.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-dark)!important;
}

.p-6 {
    padding: .3rem 7rem;
}

.contact-box {
    padding: 1rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 1rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}

.form-check {
    font-size: 12.5px;
} 
.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .3rem;
    padding: 1rem 0.5rem;
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.register-bg {
    background-image: url('/ESPot/web/Register/img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}