<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ESPot Login</title>  
  </head>
  <body>
    <form action="" method="POST">
      <label for="name">Nombre: </label>
      <input type="text" id="name" name="name" /><br>
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" /><br>
      <label for="password">Contraseña: </label>
      <input type="password" id="password" name="password" /><br>
        <input type="submit" style="width: auto; height: auto;"></input>
    </form>
    {{ user.username }} has {{ user.password}}
</body>
</html>
