<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="/Login/img/logo.png" />
  <title>ESPot</title>
</head>
<body>
  <div class="back">
    <div class="ESPot">
      <a href="/Login/index.html" class="logout text-light font-weight-bold text-decoration-none">Log out</a>
      <h1>ESPot</h1>
    </div>
    <div class="icono">
      <img src="img/image.png">
    </div>
  </div>
  <div class="back2"></div>
  <div class ="container">
    <div class ="cocontainer mb-5 shadow-sm p-3 mb-5 rounded">
      <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label font-weight-bold">Plant name</label>
        <input type="email" class="form-control bg-dark-x border-0" id="exampleInputEmail1" placeholder="Ingresa tu email" aria-describedby="emailHelp">
      </div>
      <div class="mb-4">
        <label for="exampleInputPassword1" class="form-label font-weight-bold">Pot ID</label>
        <input type="password" class="form-control bg-dark-x border-0 mb-2" placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
        <button type="sucess" class="btn btn-secondary w-50 align-center">Añadir</button>
      </div>
    </div>
  </div>
</body>
</html>