<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://35.243.197.246:5000/static/styles/style.css" />
    <link rel="stylesheet" href="http://35.243.197.246:5000/static/styles/responsive.css" />
    <link rel="stylesheet" href="http://35.243.197.246:5000/static/styles/text.css" />
    <link rel="icon" type="image/png" href="http://35.243.197.246:5000/static/img/image.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <script type="text/javascript" src="http://35.243.197.246:5000/static/scripts/load_pots.js"></script>
    <title>ESPot</title>
  </head>
  <body class="RESPONSIVE">
  <input type="hidden" name ="hidden_user_id" value="{{ user.id }}" id="user_id">
  <header>
    <h1>
      <a class="titulo text-decoration-none" href="/{{ user.id }}/my_plants">
        <img src="http://35.243.197.246:5000/static/img/image.png" class="logo" alt="logo"/>
        ESPot
      </a>
      <span class="currentUser">{{ user.username }}</span> <a href="/login" class="logout text-decoration-none">Log out</a>
    </h1>
  </header>
  <div class="main">
    <section class="main">
    <!-- user pots -->
    </section>
  </div>
</body>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="../static/scripts/primary.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>