<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8">
        <TITLE>TEST</TITLE>
        <script type="text/javascript">window.addEventListener('DOMContentLoaded', (e) => {
            function updateAllEvents() { 
                $.getJSON('http://35.243.197.246:5001/api/pots', function(data, status){
                    console.log(data);
                });  
            }
            let display = setInterval(updateAllEvents, 2000);
        });
        </script>
    </HEAD>
    <BODY>
        <H1 class="hum">Humidity: {{ pot.Actual_humidity }}</H1>
        <H1 class="tank">Is the tank empty: {{ pot.Is_empty }}</H1>
        <H1 class="irri">Time of last irrigation: {{ pot.Last_irrigation }}</H1>
    </BODY>
</HTML>
