<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../static/styles/landing.css">
        <link rel="icon" type="image/png" href="../static/img/image.png"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
        <title>ESPot</title>
    </head>
    <body>
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">ESPot</a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                        <li class="nav__item"><a href="#lorem" class="nav__link">Lorem</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>
                        <li class="nav__item"><a href="http://myespot.tech/login" class="nav__link">Login</a></li>
                        <li class="nav__item"><a href="http://myespot.tech/register" class="nav__link">Register</a></li>
                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">ESPot</h1>
                        <h2 class="home__subtitle">We take care of<br>your plants.</h2>
                        <a href="http://myespot.tech/register" class="button">Register now</a>
                    </div>
                    <img src="../static/img/home.png" alt="" class="home__img">
                </div>
            </section>
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">About us</span>
                        <h2 class="section-title about__initial">Our <br> history</h2>
                        <p class="about__description">
                            We are <a href="https://github.com/rrrorrigo" class="names">Rodrigo Briones</a>, <a href="https://github.com/coding-kiko" class="names">Francisco Calixto</a> and <a href="https://github.com/elyoguictm" class="names">Gabriel Ferreira</a>, developers of what is known
                            today as ESPot. Having to come up with an idea for Holberton School end of first year portfolio
                            project, we decided to dig into the emerging world of IoT and develop a self irrigating plant
                            vase, which is able to communicate via wifi and exchange important data in order for the owner
                            to keep up with his plant through our web page. Amongst all of the technologies used,
                            the main character is the versatile ESP8266 microcontroller, the one able to connect to the 
                            wifi and send the data, as well as knowing when to irrigate with the help of a mini water pump,
                            a soil moisture sensor and a water level sensor incorporated to a water tank.<br>
                            Visit our project's <a href="https://github.com/rrrorrigo/ESPot" class="names">github repository</a>!
                        </p>
                    </div>
                    <img src="../static/img/about.png" alt="" class="about__img">
                </div>
            </section>
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="more__data">
                        <span class="section-subtitle about__initial">About us</span>
                        <h2 class="section-title about__initial">Our <br> Goals</h2>
                        <p class="about__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                            Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                        </p>
                    </div>
                    <img src="../static/img/goals.png" alt="" class="more__img">
                </div>
            </section>
            <section class="services section bd-container" id="services">
                <span class="section-subtitle">Offering</span>
                <h2 class="section-title">Our amazing services</h2>
                <div class="services__container  bd-grid">
                    <div class="services__content">
                        <svg class="services__img"></svg>
                        <h3 class="services__title">Lorem ipsum</h3>
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="services__content">
                        <svg class="services__img">
                            <defs>
                            <clipPath id="clip0">
                            <rect width="64" height="64" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <h3 class="services__title">Lorem ipsum</h3>
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="services__content">
                        <svg class="services__img">
                            <g clip-path="url(#clip0)"></g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="64" height="64" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <h3 class="services__title">Lorem ipsum</h3>
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </section>
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">loremloremlorem</span>
                <h2 class="section-title">loremloremloremlorem</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img src="../static/img/empty_pot.png" alt="" class="menu__img">
                        <h3 class="menu__name">lorem</h3>
                        <span class="menu__detail">loremlorem</span>
                    </div>

                    <div class="menu__content">
                        <img src="../static/img/empty_pot.png" alt="" class="menu__img">
                        <h3 class="menu__name">loremlorem</h3>
                        <span class="menu__detail">loremlorem</span>
                    </div>

                    <div class="menu__content">
                        <img src="../static/img/empty_pot.png" alt="" class="menu__img">
                        <h3 class="menu__name">loremlorem</h3>
                        <span class="menu__detail">loremlorem</span>
                    </div>
                </div>
            </section>
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">Let's talk</span>
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <p class="contact__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <div class="contact__button">
                        <a href="https://github.com/rrrorrigo/ESPot" class="button">Contact us now</a>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">ESPot</a>
                    <span class="footer__description">Irrigation services</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>
                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Adress</h3>
                    <ul>
                        <li>Uruguay - Montevideo</li>
                        <li>Zonamerica</li>
                        <li>2788@holbertonschool.com</li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="../static/scripts/main.js"></script>
    </body>
</html>