<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="stylesheet" href="../static/styles/responsive.css" />
    <link rel="icon" type="image/png" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <title>ESPot</title>
</head>
<body class="RESPONSIVE">
  <header>
    <h1><img src="../static/img/logo.png" class="logo" alt="logo"><span class="titulo">ESPot</span> <a href="/login" class="logout text-decoration-none">Log out</a></h1>
  </header>
  <div class="main">
    <div class="plantdiv">
      <img src="../static/img/plant.png" class="plant">
    </div>
    <div class="onoffdiv">
      <div class="onoff">
      <i class="onoff far fa-power-off fa-10x" id="onoff"></i>
    </div>
      <div class="dropdown btn-group" id="plantList">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="list">
          Choise your plant
        </button>
        <div class="dropdown-menu text" id="listPlants">
          <a class="dropdown-item" href="#">Amor mio</a>
          <a class="dropdown-item" href="#">Kiko</a>
          <a class="dropdown-item" href="#">Mii gue</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" id="selected">Amor separado xd</a>
        </div>
      </div>
    </div>
    <div class="info2">
      <div class=infotext>
        <div class="infote">
          <span class="hum">Humidity: <span class="numberHum">{{ pot.Actual_humidity }}%</span></span>
          <span class="irri">Last irrigation: <span class="numberIrri">{{ pot.Last_irrigation }}</span><br></span>
        </div>
        <div class="alertt" style="background: url('../img/alertt.png') top center;">
          <div class="alertext">
            <h5>Warning</h5>
            <h6>The water level is low, please add water to the tank!</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="arrow"></div>
  </div>
</body>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/scripts/primary.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>