<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="stylesheet" href="../static/styles/responsive.css" />
    <link rel="icon" type="image/png" href="../static/img/logo.png" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

  <title>ESPot</title>
</head>
<body class="RESPONSIVE">
  <header>
        <h1><img src="../static/img/logo.png" class="logo" alt="logo">ESPot <a href="/login" class="logout text-decoration-none">Log out</a></h1>
    </header>
  <div class="main">
    <div class="plantdiv">
    <img src="../static/img/image.png" class="plant">
    </div>
    <div class="info2">
    </div>
    <div class="onoffdiv">
    <i class="onoff far fa-power-off" id="onoff" onclick="onoff()"></i>
    </div>
  </div>
  </div>
  <div class="right">
    <div class="arrow"></div>
  </div>
</body>
<script type="text/javascript" src="../static/scripts/primary.js"></script>
</html> 