<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/myplantest.css" />
    <link rel="icon" type="image/png" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

  <title>ESPot</title>
</head>
<body class="RESPONSIVE">
  <div class="back">
    <div class="ESPot">
      <a href="/Login/index.html" class="logout text-light font-weight-bold text-decoration-none">Log out</a>
      <span>ESPot</span>
    </div>
    <div class="icono">
      <img src="../static/img/image.png">
    </div>
  </div>
  <div class="back2">
    <div class="dropdown btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Boton xd
      </button>
      <div class="dropdown-menu text">
        <a class="dropdown-item" href="#">Amor mio</a>
        <a class="dropdown-item" href="#">Kiko</a>
        <a class="dropdown-item" href="#">Mii gue</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Amor separado xd</a>
      </div>
    </div>
  </div>
  </div>
  <div class="info">
    <div class=infotext>
      <span class="hum">Humidity: {{ pot.Actual_humidity }}<br></span>
      <span class="tank">Is the tank empty: {{ pot.Is_empty }}<br></span>
      <span class="irri">Time of last irrigation: {{ pot.Last_irrigation }}<br></span>
      <div class="alertt">
        <div class="alertext">
          <h5>Warning</h5>
          <h6>The water level is low, please add water to the tank!</h6>
        </div>
      </div>
    </div>
    <div class="plant">
      <img src="../static/img/plant.png">
      <i class="onoff far fa-power-off" id="onoff" onclick="onoff()"></i>
    </div>
  </div></div>      
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/primary.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>