<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8">
        <TITLE>TEST</TITLE>
        <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', (e) => {
            function updateAllEvents() { 
                const hum = document.querySelector(".hum")
                const irri = document.querySelector(".irri")
                
                fetch('http://35.243.197.246:5001/api/pots')
                .then(response => response.json())
                .then(data => {
                    hum.innerText = "Humidity: " + data[0].Actual_humidity
                    irri.innerText = "Time of last irrigation: " + data[0].Last_irrigation
                    if (data[0].Is_empty) {
                        $(".tank".attr("src","../static/img/alertt.png"));
                    } else {
                        $(".tank".attr("src","../static/img/tankfull.png"));
                    }
                })   
            }
            let display = setInterval(updateAllEvents, 2000);
        });
        </script>
    </HEAD>
    <BODY>
        <span class="hum">Humidity: {{ pot.Actual_humidity }}<br></span>
        <span class="irri">Time of last irrigation: {{ pot.Last_irrigation }}<br></span>
        <img class="tank" src="">
    </BODY>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</HTML>
